body > header {
  background:#feeaa9;
  margin:0;
  padding: 0;
}

h1 {
  padding-top: 20px;
  font-family: ‘Fjalla One’, sans-serif;
}
.heading-group-h1{
  padding-left: 20px;
}
h2 {
  font-family: ‘Fjalla One’, sans-serif;
  font-size: 18px;
  padding-bottom: 20px;
}

 header > div *{
  display: inline-block;
 }

.clearfix:after {
  clear: both;
}

.icon-menu {
  position: absolute;
  right: 3%;
  top: 3%;
}
nav ul{
  display: none;
  list-style-type: none;
}

li {
border-bottom:3px;
height: 30px;
}

nav:hover ul{
  display: block;

}
nav:hover .heading-group-h1 *{
  padding-bottom: 0;
}
ul {
  padding: 0;
}

li *{
  text-decoration: none;
  color: grey;
}
img {
  max-width: 100%;
  display: block;
  float: left;
  padding: 15px;
}

article div{
  color: grey;
}
a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}
nav:hover ul > li {
  border-bottom: 2px solid grey;
  height: 30px;
  margin-left: 0;
  padding-top: 8px;
  padding-left: 4px;
  text-decoration: none;
}
#about{
  clear: both;
  text-align: left;
}
footer{
  text-align: center;
}
@media (min-width: 700px){
  .icon-menu {
    display: none;}
  nav ul{
    display: flex;
  }
  nav ul li{
    padding-left: 15px;
  }
  nav{
    pointer-events: none;
  }
  h2{
    padding-bottom: 20px;
  }
  #about{
    margin-left: 40%;
  }
}
main{
  margin-left: 20px;
}
